canvas {
  width: 800px;
  height: 800px;
  border: 1px solid black;
}

.block {
  padding: 10px;
  width: 800px;
  height: auto;
  background-color: skyblue;
}

.color-option {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
