@import "./reset.css";
@import "./variables.css";

/* component */
@import "./component/news.css";

/* screen */
@import "./screen/main.css";
@import "./screen/brand-story.css";

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

main {
  margin: 10px;
}
