@media screen and (max-width: 800px) {
  img {
    max-width: 650px;
  }
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px;
}
header,
main,
footer {
  padding: 0px 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

address {
  font-style: normal;
}

/* preset */
.hidden {
  display: none;
}
.flex {
  display: flex;
}
.text-center {
  text-align: center;
}
.flex__just--center {
  justify-content: center;
}
.flex__align--center {
  align-items: center;
}

.nav--header li {
  margin: 0px 10px;
  text-align: center;
}
.nav--header a {
  display: block;
}

.nav__header-subtitle {
  font-size: 12px;
  margin: 1px 0px 0px 0px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.nav--margin li:hover .nav__header-subtitle {
  opacity: 1;
}

.nav__menu--layer {
  text-align: center;
}

.nav__menu--layer ul {
  display: inline-block;
}

.main__list1,
.main__list2 {
  display: flex;
  margin: 10px;
}

.header__inner {
  position: relative;
}

.header__inner--logo {
  text-align: center;
}
.gnv__left {
  position: absolute;
  top: 5px;
  left: 150px;
}
.gnv__left li {
  display: inline-block;
}

.gnv__right {
  position: absolute;
  top: 0;
  right: 110px;
  display: flex;
  gap: 20px;
  font-size: 12px;
}

.gnv__floating {
  position: absolute;
  top: 30px;
  right: 50px;
}

.main__franchise,
.main__store {
  display: flex;
  flex-direction: column;
  background-color: #faf9f7;
  padding: 20px 10px;
}

.main__franchise > a:first-child {
  padding: 10px;
}

.main__hollys--mall {
  padding: 10px;
}

.main__hollys--mall > ul {
  display: flex;
  text-align: center;
}

.banner--pager--item {
  position: absolute;
  left: 80%;
  display: flex;
  gap: 10px;
}

.main__banner {
  position: relative;
  margin-bottom: 20px;
}

.main__banner img {
  border-top: 1px solid #b5121b;
}

.pager--item {
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid black;
}

.pager--link {
  color: white;
  font-size: 12px;
}

.main__hollys-membership li {
  display: inline-block;
}

.main__list3 {
  display: flex;
}

.list3__solution,
.list3__academy {
  width: 250px;
}
.list3__news h2 {
  margin-bottom: -20px;
}
.list3__news--box {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.list__icon {
  padding: 30px;
}

.list__icon ul {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

/* footer */
footer {
  width: 100%;
  padding: 35px;
  background-color: #ba000c;
}
.footer__icon {
  display: flex;
  align-items: center;
  margin: 10px;
}

.footer__icon > ul {
  display: flex;
}

.footer__icon > ul > li {
  margin: 2px;
}

.footer__address {
  opacity: 0.5;
}

.nav__footer--menu a {
  color: #fff;
}

.footer__address * {
  color: #fff;
}

.nav__footer--menu li {
  display: inline-block;
  margin-right: 10px;
}
