@font-face {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
}
* {
  font-family: "Noto Sans KR", sans-serif;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
main > a:hover {
  opacity: 0.3;
}

.alpha > li {
  list-style: circle;
}

@media screen and (max-width: 700px) {
  .nav__menu-bar {
    font-size: 12px;
  }
}

.white {
  background-color: white;
}

.black {
  color: white;
  background-color: black;
}
.red {
  color: red;
}

.code-box {
  display: flex;
}

.code,
.code-result {
  display: inline-block;
  padding: 10px;
  max-height: 800px;
  overflow-y: auto;
  max-width: 1000px;
}

.code {
  background-color: gainsboro;
  padding: 10px 50px;
  box-sizing: border-box;
}
.code-result {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  background-color: beige;
}
.margin {
  margin-top: 50px;
}
.nav__menu-bar {
  padding: 15px;
  position: sticky;
  top: 0;
  background-color: white;
  font-size: 24px;
  font-weight: 600;
}
.nav__menu-bar a {
  text-decoration: none;
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 10px;
  margin-right: 5px;
}
.blind {
  visibility: hidden;
  position: absolute;
}

pre {
  white-space: pre-line;
  padding: 0;
  margin: 0;
}

.before,
.after,
.one {
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.before::before {
  content: "before";
  display: block;
  text-transform: uppercase;
}
.after::before {
  content: "after";
  display: block;
  text-transform: uppercase;
  color: red;
}
.fc::after {
  content: "";
  display: block;
  clear: both;
}

/* *part-00 */
#part-00 h3 {
  color: red;
}
#part-00 h4 {
  color: blue;
}

/* *part-01 */
.part-01__color1 {
  color: red;
}
.part-01__color2 {
  color: #337755;
}
.part-01__color3 {
  color: rgb(255, 255, 100);
}
.part-01__color4 {
  color: rgba(0, 0, 0, 0.2);
}
#part-01__id-color {
  color: #e57969;
}

/* *part-02 */
#part-02 p {
  margin-bottom: 0px;
}

.part-02__size2 {
  font-size: 2em;
}
.part-02__size3 {
  font-size: 2rem;
}
.part-02__size4 {
  font-size: 3ex;
}

/* *part-03 */
#part-03 {
  font-family: "돋움", dotum, sans-serif;
}

.part-03__big-text {
  font-size: 2em;
  color: green;
  font-weight: bolder;
}

.part-03__text {
  color: skyblue;
  font-size: 0.88em;
}

.part-03__line {
  text-decoration: underline;
  font-style: italic;
  line-height: 30px;
  text-align: justify;
}

#part-03__id-text {
  letter-spacing: 10px;
  text-indent: 30px;
  text-transform: capitalize;
}

/* *part-04 */
#part-04 h3 {
  /* border-width: 5px;
  border-style: solid;
  border-color: green; */
  border: 2px solid blue;
}

.part-04__my-table {
  width: 600px;
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  border-collapse: collapse;
  text-align: center;
  line-height: 2;
}

.part-04__td {
  border: 1px solid #999;
}

.part-04__col-first {
  border-left: none;
}

.part-04__col-last {
  border-right: none;
}

/* *part-05 */
.part-05__list > li {
  /* list-style: square; */
  list-style: circle;
}

#part-05 ol > li {
  /* list-style-type: decimal-leading-zero; */
  list-style-type: upper-roman;
}

.part-05__top > li {
  /* list-style-type: square;
   list-style-position: inside; */
  list-style: none;
  text-indent: 10px;
}

.part-05__img > li {
  list-style-image: url("./images/icon-arrow-cursor.png");
}

/* *part-06 */
#part-06 p {
  font-size: 25px;
  background-color: antiquewhite;
  line-height: 2;
}

.part-06__cursor2 {
  cursor: all-scroll;
}
.part-06__cursor3 {
  cursor: cell;
}
.part-06__cursor4 {
  cursor: col-resize;
}
.part-06__cursor5 {
  /* cursor:context-menu;*/
  cursor: copy;
}
.part-06__cursor6 {
  cursor: crosshair;
}
.part-06__cursor7 {
  cursor: ew-resize;
}
.part-06__cursor8 {
  cursor: grab;
}
.part-06__cursor9 {
  cursor: grabbing;
}
.part-06__cursor10 {
  cursor: help;
}
.part-06__cursor11 {
  cursor: pointer;
}
.part-06__cursor12 {
  cursor: url("./images/icon-arrow-big.png"), auto;
}

/* *part-07 */
#part-07 li {
  list-style: none;
}

/* ? 글자 30px, 굵게, #333 색상 */
.part-07__menu > li > a {
  font-size: 30px;
  font-weight: bolder;
  color: #333;
}

.part-07__menu > li a {
  text-decoration: none;
}

/* *part-08 */
.part-08__menu li > a:link {
  color: pink;
}
.part-08__menu li > a:hover {
  color: green;
}
.part-08__menu li > a:visited {
  color: #222;
}
.part-08__menu li > a:active {
  color: orange;
}
.part-08__menu-2 li > a {
  color: deepskyblue;
}
.part-08__menu-2 li > a:hover {
  color: salmon;
  text-decoration: none;
}

/* *part-09 */
#part-09 .code-result h2 {
  border-width: 5px;
  border-style: solid;
  border-color: aqua;
}

#part-09 .code-result p {
  /* border-top-style: solid;
   border-top-width: 2px; */
  border-top: 2px solid;
}

/* *part-10 */
.part-10__table {
  border-collapse: collapse;
  width: 700px;
  line-height: 2.5;
}

.part-10__table > thead {
  border-bottom: 2px solid;
}

.part-10__table th,
.part-10__table td {
  border-bottom: 1px solid #ccc;
}
.part-10__bg > * {
  background-color: #ddd;
}

/* *part-11 */
.part-11__my-table {
  border-collapse: collapse;
  width: 1000px;
  border-top: 2px solid #1e61a8;
  line-height: 2;
}
.part-11__my-table th,
.part-11__my-table td {
  text-align: start;
  border: 1px solid #ccc;
  background-color: white;
}
.part-11__my-table thead th {
  text-align: center;
  border: none;
  background-color: #eee;
  color: black;
}
.part-11__my-table th {
  color: green;
  border-right: none;
  border-left: none;
}
.part-11__my-table td {
  border-right: none;
}
.part-11__my-table a {
  text-decoration: none;
  color: #000;
}
.part-11__red {
  color: #c54304;
}

/* *part-12 */
#part-12 {
  font-size: 10px;
}
#part-12 p {
  background-color: pink;
}

#part-12 p::before {
  content: "beofore (선택자 앞에 붙는 content)";
  font-size: 20px;
  color: green;
}

#part-12 p::after {
  content: "after (선택자 뒤에 붙는 content)";
  font-size: 20px;
  text-decoration: underline;
}
#part-12 p::first-letter {
  font-weight: bolder;
  color: red;
}

/* *part-13 */
#part-13 h1 {
  background: antiquewhite;
}

#part-13 {
  /* background-color: skyblue;
   background-image: url("../src/img/b1.png");
   background-repeat: no-repeat;
   background-position: center 200px;
   background-attachment: fixed; */
  background: skyblue url("../images/b1.png") no-repeat center 200px fixed;
}

/* *part-14 */
#part-14 .code-result > div {
  height: 200px;
  background-color: #eee;
  font-size: 50px;
}

.part-14__box2 {
  background-image: url("../images/mainBanner_1.jpg");
  color: white;
  background-attachment: fixed;
  background-position: center center;
}

.part-14__box4 {
  background-image: url("../images/mainBanner_2.jpg");
  color: white;
  background-attachment: fixed;
  background-position: center center;
  font-size: 50px;
}

/* *part-15 */
#part-15 li {
  list-style: none;
}

.part-15__sns > li > a {
  display: block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.part-15__facebook > a {
  background: url("../images/icon_sns_facebook.png") no-repeat left;
}
.part-15__facebook > a:hover {
  background-position: -50px 0;
}

.part-15__instagram > a {
  background: url("../images/icon_sns_instar.png") no-repeat left;
}
.part-15__instagram > a:hover {
  background-position: -50px 0;
}

/* *part-16 */
#part-16 li {
  list-style: none;
}
.part-16__quick-menu > li > a {
  display: block;
  width: 70px;
  height: 70px;
  background: url("../images/icon_quickmenu.png");
  text-indent: -9999px;
}

.part-16__quick-menu > .part-16__quick2 > a {
  background-position: -70px 0;
}
.part-16__quick-menu > .part-16__quick3 > a {
  background-position: -140px 0;
}
.part-16__quick-menu > .part-16__quick4 > a {
  background-position: -210px 0;
}

/* *part-17 */
#part-17 li {
  list-style: none;
}

.part-17__arr > li > a {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../images/icon_event_slider_arr.png");
  text-indent: -9999px;
}

.part-17__left-arr > a:hover {
  background-position: 0 -50px;
}
.part-17__right-arr > a {
  background-position: -50px 0;
}
.part-17__right-arr > a:hover {
  background-position: -50px -50px;
}

/* *part-18 */
#part-18 {
  background: url("../images/bg_utilization.png") no-repeat center 0,
    url("../images/mainBanner_1.jpg") no-repeat;
}
#part-18 h2 {
  color: #fff;
}

/* *part-19 */
#part-19 .code-result > div {
  width: 600px;
  height: 300px;
  background-color: pink;
  background-position: center center;
  background-image: url("../images/mainBanner_4.jpg");
  margin-bottom: 10px;
}

.part-19__box2 {
  background-size: 100%;
  background-repeat: no-repeat;
}

.part-19__box3 {
  background-size: 100% 100%;
}
.part-19__box4 {
  background-size: contain;
}
.part-19__box5 {
  background-size: cover;
}

/* *part-20 */
.part-20__h1 {
  background-color: antiquewhite;
  width: 600px;
}
.part-20__box1 {
  background-color: skyblue;
  width: 50%;
}
.part-20__box1 > span {
  background-color: pink;
  /* // width: 200px; height: 200px; */
}

.part-20__box2 {
  width: 50%;
  height: 200px;
  background-color: salmon;
}
.part-20__box3 {
  width: 500px;
  background-color: yellowgreen;
}
.part-20__img {
  width: 100%;
}

/* *part-21 */
#part-21 .code-result > p {
}

.part-21__box2,
.part-21__box3,
.part-21__box4,
.part-21__box5,
.part-21__box6,
.part-21__box7,
.part-21__box11,
.part-21__box12 {
  line-height: 150px;
  background-color: pink;
  width: 400px;
  height: 150px;
  text-align: center;
}

.part-21__box8,
.part-21__box9,
.part-21__box10 {
  line-height: 75px;
  background-color: pink;
  width: 400px;
  height: 150px;
  text-align: center;
}

.part-21__box2 {
  border-right: 2px solid blue;
}
.part-21__box3 {
  border: 20px solid green;
}
.part-21__box4 {
  outline: 20px solid red;
}
.part-21__box5 {
  border-top-left-radius: 50px;
}
.part-21__box6 {
  border-start-start-radius: 100px;
}
.part-21__box7 {
  border-radius: 30px;
}
.part-21__box8 {
  border-radius: 10px 50px;
}
.part-21__box9 {
  border-radius: 10px 30px 80px;
}
.part-21__box10 {
  border-radius: 20px 50px 10px 5px;
}
.part-21__box11 {
  border-radius: 10px/80px;
}
.part-21__box12 {
  border-radius: 50%;
  background-color: pink;
  width: 200px;
  height: 200px;
  line-height: 200px;
}

/* *part-22 */
.part-22__more-btn > a {
  border: 2px solid black;
  display: block;
  width: 130px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  /* padding: 10px 20px; */
}

.part-22__more-btn > a:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}

.part-22__icon-item {
  width: 85px;
  height: 85px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.part-22__icon-item > i {
  display: block;
  width: 100%;
  height: 55px;
  background: url("../images/icon_set_011.png") no-repeat center 100%;
}

.part-22__icon-item > span {
  font-weight: bolder;
}

.part-22__icon-item:hover {
  background-color: dodgerblue;
  color: white;
}

.part-22__icon-item:hover > i {
  background-image: url("../images/icon_set_011_over.png");
}

/* *part-23 */
.part-23__quick-wrap {
  /* display: flex; */
}

.part-23__quick-wrap > div > a {
  display: block;
  width: 300px;
  height: 80px;
}

.part-23__quick-wrap a {
  text-decoration: none;
  font-size: 22px;
  font-weight: bolder;
  line-height: 80px;
}

.part-23__quick1 > a,
.part-23__quick2 > a {
  background-repeat: no-repeat;
}
.part-23__quick1 > a {
  color: #292929;
  background-color: #ffce32;
  border-radius: 30px 0 0 0;
  background-image: url("../images/icon_map.png");
  background-position: 90px center;
  text-indent: 120px;
}
.part-23__quick2 > a {
  color: white;
  background-color: #009223;
  border-radius: 0 0 30px 0;
  background-image: url("../images/icon_franchise.png");
  background-position: 55px center;
  text-indent: 95px;
}

/* *part-24 */
.part-24__sponsor-wrap {
  height: 140px;
  width: 140px;
  background-color: red;
  text-align: center;
  border-radius: 50%;
}

.part-24__sponsor-wrap > i {
  background: url("../images/icon_set_011.png") no-repeat center 75%;
  display: block;
  width: 100%;
  height: 90px;
}

.part-24__sponsor-wrap > span {
  color: white;
}

.part-24__sponsor-wrap:hover {
  background-color: black;
  cursor: pointer;
}
.part-24__sponsor-wrap:hover > i {
  background-image: url("../images/icon_set_011_over.png");
}

/* *part-25 */
.part-25__box1 {
  width: 10px;
}

#part-25 > h3:first-of-type {
  background-color: antiquewhite;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
}
.part-25__box1,
.part-25__box2,
.part-25__box3,
.part-25__box4,
.part-25__box5 {
  width: 100%;
  background-color: pink;
}

.part-25__box1 {
  margin-top: 10px;
}
.part-25__box2 {
  margin: 10px;
}
.part-25__box3 {
  margin: 30px 20px;
}
.part-25__box4 {
  margin: 10px 30px 20px;
}
.part-25__box5 {
  margin-top: 10px;
}

/* *part-26 */
.part-26__div {
  background-color: pink;
  height: 100px;
  width: 200px;
  margin: 0 auto;
  max-width: 200px;
}
#part-26 .code-result {
  padding: 0;
}

/* *part-27 */
.part-27__div {
  width: 500px;
  background-color: skyblue;
  margin: 0 auto;
}
.part-27__logo {
  margin: 50px 0 0 0;
}

/* *part-28 */

.part-28__box {
  background-color: skyblue;
  width: 300px;
  margin-bottom: 10px;
}
.part-28__span {
  background-color: hotpink;
  padding: 50px 100px;
  margin: 50px 0 30px 20px;
}
.part-28__ul {
  margin: 0;
  padding: 0;
}
.part-28__li {
  background-color: azure;
  list-style-type: none;
}

.part-28__box1 {
  padding-top: 50px;
}
.part-28__box2 {
  padding: 30px;
}
.part-28__box3 {
  padding: 50px 10px;
}
.part-28__box4 {
  padding: 10px 50px 100px;
}
.part-28__box5 {
  padding: 20px 50px 30px 10px;
}

/* *part-29 */
.part-29__h2 {
  font-size: 48px;
  background: url("../images/bul_tit.png") no-repeat;
  line-height: 60px;
  padding-left: 20px;
}

/* *part-30 */
.part-30__gnv {
  padding: 0;
  margin: 0;
  max-width: 500px;
  margin: 0 auto;
}
.part-30__gnv > li {
  display: inline-block;
  list-style-type: none;
  border-right: 1px solid #ccc;
  padding: 0 10px;
  line-height: 0.9;
}
.part-30__gnv > li:last-child {
  border: none;
}
.part-30__gnv > li > a {
  color: #333;
  text-decoration: none;
}
.part-30__gnv > li > a:hover {
  text-decoration: underline;
}

/* *part-31  */
.part-31__div h1 + h2 {
  background-color: pink;
}

.part-31__div h1 ~ p {
  background-color: skyblue;
}

/* *part-32 nth child */
.part-32__div ul,
.part-32__div ol {
  list-style: none;
  padding: 0;
}

.part-32__list li:first-child {
  background-color: skyblue;
  font-size: 20px;
}
.part-32__list li:last-child {
  font-size: 20px;
  text-decoration: underline;
}
.part-32__list li:nth-child(4) {
  color: white;
  background-color: #000;
}
.part-32__menu li:nth-child(even) {
  background-color: salmon;
}
.part-32__menu li:nth-child(odd) {
  font-size: 25px;
}

/* *part-33 */
.part-33__dl > dd:first-of-type {
  background-color: skyblue;
}

.part-33__div > p:nth-of-type(2) {
  background-color: skyblue;
}

/* *part-34 */
.part-34__foot {
  background-color: #ba000c;
}
.part-34__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.part-34__div {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}
.part-34__ul > li {
  display: inline-block;
  background: url("../images/bg_footer_bar01.gif") no-repeat right center;
  padding: 0 15px 0 10px;
}
.part-34__ul > li:last-child {
  background: none;
  padding: 0 10px;
}

.part-34__ul > li > a {
  text-decoration: none;
  color: #fff;
}

/* *part-35 */
.part-35__block,
.part-35__table {
  padding: 0;
}
.part-35__block > li {
  display: inline;
}
.part-35__inline > span,
.part-35__inline-block > span,
.part-35__table > li {
  background-color: #fff;
  height: 50px;
  border: 1px solid black;
  line-height: 50px;
}
.part-35__inline > span {
  display: block;
  text-align: center;
}
.part-35__inline-block {
  text-align: center;
}
.part-35__inline-block > span {
  display: inline-block;
}
.part-35__table > li {
  display: table-cell;
  height: 100px;
  line-height: 0;
  vertical-align: middle;
}

/* *part-36 */
.part-36__p {
  background-color: pink;
}
.part-36__display {
  display: none;
}
.part-36__vis {
  visibility: hidden;
}

/* *part-37 */
.part-37__sns {
  text-align: center;
}
.part-37__sns > li {
  display: inline-block;
  margin: 0 5px;
}
.part-37__sns > li > a {
  display: block;
  background-color: skyblue;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #000;
}
.part-37__sns > li > a::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 19px;
  background-image: url("../images/icon_sns_l.png");
  margin-top: 20px;
}
.part-37__sns > li:nth-child(2) > a::before {
  background-position: 0 -19px;
}
.part-37__sns > li:nth-child(3) > a::before {
  background-position: 0 -38px;
}
.part-37__sns > li:nth-child(4) > a::before {
  background-position: 0 -56px;
}
.part-37__sns > li:last-child > a::before {
  height: 17px;
  background-position: 0 -72px;
}

/* *part-38 */
/* ^제목 */
#part-38 {
  font-family: "Noto Sans KR", sans-serif;
}
#part-38 > .code-result {
  max-width: 1280px;
  margin: 0 auto;
}
.part-38__header {
  background-color: #062c5e;
}
.part-38__logo {
  max-width: 170px;
  padding: 10px 0 15px;
}

/* ^바닥글 목록 */
.part-38__footer {
  text-align: center;
  border-top: 1px solid #e0e0e0;
  margin-top: 100px;
  padding: 20px 0;
}
.part-38__foot-menu > li {
  display: inline-block;
  border-right: 1px solid black;
  padding: 0 10px 0 4px;
  line-height: 0.7;
}
.part-38__foot-menu > li:last-child {
  border: none;
}
.part-38__foot-menu > li > a:hover {
  text-decoration: underline;
  color: rgba(137, 207, 235, 0.8);
}

/* ^리스트와 아이콘 사이 텍스트 간격 */
.part-38__footer > p {
  margin: 30px 0;
}

/* ^SNS 아이콘 목록들 */
.part-38__list > li {
  display: inline-block;
  margin: 0 10px;
}
.part-38__list > li > a {
  display: block;
  width: 26px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-indent: -5000px;
}
.part-38__list > li:first-child > a {
  background-image: url("../images/facebook.png");
}
.part-38__list > li:nth-child(2) > a {
  background-image: url("../images/linked_in.png");
}
.part-38__list > li:nth-child(3) > a {
  background-image: url("../images/insta.png");
}
.part-38__list > li:nth-child(4) > a {
  background-image: url("../images/youtube.png");
}
.part-38__list > li:last-child > a {
  background-image: url("../images/square.jpg");
}

/* ^아이콘 hover */
.part-38__list > li:first-child > a:hover {
  background-image: url("../images/facebook_over.png");
}
.part-38__list > li:nth-child(2) > a:hover {
  background-image: url("../images/linked_in_over.png");
}
.part-38__list > li:nth-child(3) > a:hover {
  background-image: url("../images/insta_over.png");
}
.part-38__list > li:nth-child(4) > a:hover {
  background-image: url("../images/youtube_over.png");
}
.part-38__list > li:last-child > a:hover {
  background-image: url("../images/square_over.jpg");
}

/* *part-39 */

/* ^overflow */
.part-39__box1,
.part-39__box2,
.part-39__box3,
.part-39__box4 {
  border: 5px solid skyblue;
  margin-bottom: 20px;
  width: 200px;
  height: 100px;
}
.part-39__box2 {
  overflow: hidden;
}

.part-39__box3 {
  overflow: scroll;
}
.part-39__box4 {
  overflow: auto;
}

/** part-40 */

.part-40__box1,
.part-40__box2,
.part-40__box3,
.part-40__box4,
.part-40__box5 {
  background-color: skyblue;
  margin-bottom: 20px;
  width: 200px;
}
.part-40__box2 {
  white-space: nowrap;
}
.part-40__box3 {
  white-space: pre;
}
.part-40__box4 {
  white-space: pre-wrap;
}
.part-40__box5 {
  white-space: pre-line;
}

/** part-41 */
.part-41__box1,
.part-41__box2,
.part-41__box3,
.part-41__box4,
.part-41__box5 {
  background-color: skyblue;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** part-42 */

.part-42__box {
  background-color: skyblue;
  margin-bottom: 20px;
  width: 220px;
}
.part-42__box:nth-of-type(2) {
  word-break: keep-all;
  opacity: 0.5;
}
.part-42__box:nth-of-type(2):hover {
  opacity: 1;
}

/** part-43 */

.part-43__wrap {
  position: relative;
  background-color: #fff;
  width: 600px;
  height: 100px;
  border: 5px solid black;
  margin: 100px auto;
}
.part-43__wrap > div {
  width: 100px;
  height: 100px;
  border: 1px solid blue;
  position: absolute;
  top: 0;
}
.part-43__box1,
.part-44__box1 {
  background-color: salmon;
}
.part-43__box2,
.part-44__box2 {
  background-color: skyblue;
}
.part-44__box2 {
  left: 100px;
}
.part-43__box3,
.part-44__box3 {
  background-color: pink;
}
.part-43__box3 {
  left: 200px;
}

/** part-44 */
.part-44__wrap {
  width: 100%;
}
.part-44__wrap > div {
  width: 100px;
  height: 100px;
  border: 1px solid blue;
}
.after .part-44__box2 {
  position: relative;
  bottom: 50px;
  left: 0;
}
.after .part-44__box3 {
  position: relative;
  bottom: 100px;
  left: 0px;
}

/** part-45 */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

.hideen {
  visibility: hidden;
  position: absolute;
}

.part-45__wrap {
  position: relative;
  background-color: #fff;
  font-family: "Nanum Gothic", sans-serif;
}

.part-45__notice,
.part-45__data {
  width: 500px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative;
}
.part-45__notice {
  background-image: url("./images/b1.png");
  background-position: 0px 70px;
}
.part-45__data {
  background-image: url("./images/b2.png");
  background-position: 0px 80px;
}
.part-45__column {
  padding: 10px;
  background-repeat: no-repeat;
}
.part-45__column > ul {
  margin-left: 120px;
}
.part-45__column > ul > li {
  position: relative;
}
.part-45__column > ul > li > a {
  display: block;
  width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.part-45__column > ul > li > span {
  position: absolute;
  top: 0;
  right: 10px;
}
.part-45__name {
  position: relative;
}
.part-45__plus-btn {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-image: url("../images/btn_more.gif");
  position: absolute;
  top: 50%;
  right: 10px;
}

/** part-46 */

.part-46__border > li,
.part-46__position > li {
  display: inline-block;
}
.part-46__border > li {
  line-height: 0.8;
  padding: 0 10px;
  border-right: 1px solid black;
  background-color: pink;
}

.part-46__position > li {
  background-color: skyblue;
  position: relative;
}
.part-46__position > li::after {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  background-color: red;
  position: absolute;
  right: 0;
  top: 4px;
  /* top: 50%; */
  /* transform: translate(-50%, -50%) */
}

/** part-47 */
#part-47 {
  font-family: "Nanum Gothic", sans-serif;
}
#part-47 .code-result {
  font-size: 12px;
}
.part-47__inner-box {
  width: 1200px;
  background-color: rgb(255, 165, 0, 0.2);
  margin: 0 auto;
  position: relative;
}
.part-47__logo {
  text-align: center;
  padding-top: 20px;
}
.part-47__left-gnv > li,
.part-47__right-gnv > li {
  display: inline-block;
}
.part-47__right-gnv > li {
  margin-left: 10px;
}
.part-47__left-gnv,
.part-47__right-gnv {
  position: absolute;
  top: 20px;
}
.part-47__right-gnv {
  right: 0;
}

#part-47__nav {
  text-align: center;
  margin: 10px 0 0;
  padding-bottom: 5px;
}
#part-47__nav > li {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  background-color: pink;
  padding: 13px 0 5px;
  width: 156px;
  line-height: 1.4;
}
#part-47__nav > li > a {
  font-size: 1.5em;
  font-weight: 800;
}
#part-47__nav > li > span {
  display: block;
  color: #ffc1cb;
}

.part-47__depth {
  position: absolute;
  /* background-color: royalblue; */
  width: 100%;
  height: 200px;
  display: none;
  padding: 20px 0;
  line-height: 2.2;
  top: 65px;
}
.part-47__depth a {
  color: #ddd;
}

/* ^banner */
.part-47__main-banner {
  position: relative;
}
.part-47__main-banner > img {
  vertical-align: top;
  position: absolute;
  width: 70%;
  top: 250px;
  left: 100px;
  z-index: 13;
}
.part-47__main-banner > img:nth-child(2) {
  z-index: 12;
}
.part-47__main-banner > img:nth-child(3) {
  z-index: 11;
}
.part-47__main-banner > img:last-child {
  z-index: 10;
}

/* ^nav */
#part-47__nav:hover span {
  color: #333;
}
#part-47__nav > li:hover {
  background-color: #b6000d;
}
#part-47__nav > li:hover > a {
  clor: #fff;
}
#part-47__nav > li:hover > a {
  background-color: #b6000d;
  color: #fff;
}
#part-47__nav > li:hover > span {
  color: #fff;
}
#part-47__nav:hover .part-47__depth {
  display: block;
  background-color: #333;
}

/** part-48 */
#part-48 .code-result {
  position: relative;
}

.part-48__box {
  background-color: skyblue;
  height: 300px;
  position: absolute;
  left: 100px;
  right: 100px;
}

/** part-49 03-css */

/** part-50 */
.scroll {
  height: 200px;
  overflow-y: scroll;
}

.before-part-50__header,
.after-part-50__header {
  background-color: rgba(255, 0, 0, 0.5);
  line-height: 50px;
  position: sticky;
  top: 0;
}

/** part-51 */
.before-part-51__wrap,
.after-part-51__wrap {
  width: 200px;
  border: 5px solid black;
  margin: 0 auto;
}
.before-part-51__wrap > div,
.after-part-51__wrap > div {
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.before-part-51__box1,
.after-part-51__box1 {
  background-color: pink;
}
.after-part-51__box1 {
  z-index: 1;
}
.before-part-51__box2,
.after-part-51__box2 {
  background-color: skyblue;
  position: relative;
  left: 10px;
  bottom: 40px;
}
.after-part-51__box2 {
  z-index: 3;
}
.before-part-51__box3,
.after-part-51__box3 {
  background-color: green;
  position: relative;
  left: 20px;
  bottom: 80px;
}
.after-part-51__box3 {
  z-index: 2;
}

/** part-52 */
#part-52 li {
  list-style: decimal;
}

.part-52__wrap {
  border: 5px solid;
  background-color: antiquewhite;
  margin: 0 auto;
}
.part-52__box1 {
  width: 100px;
  height: 100px;
  background-color: deepskyblue;
}
.part-52__box2 {
  width: 70px;
  height: 70px;
  background-color: hotpink;
}
.part-52__box3 {
  width: 75px;
  height: 100px;
  background-color: green;
}
.part-52__box4 {
  width: 150px;
  height: 150px;
  background-color: palegreen;
}

.after .part-52__wrap > div {
  float: left;
}
.after .part-52__wrap::after {
  content: "";
  display: block;
  clear: both;
}

/** part-53 */
.part-53__wrap {
  border: 5px solid;
  background-color: antiquewhite;
}
.after .part-53__wrap::after {
  content: "";
  display: block;
  clear: both;
}
.part-53__wrap > div {
  width: 100px;
  height: 100px;
  border: 1px solid skyblue;
  float: left;
}

/** part-54 */
.part-54__inner-box {
  width: 600px;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.2);
  position: relative;
}

.part-54__header {
  background-color: skyblue;
}
.after .part-54__header::after {
  content: "";
  display: block;
  clear: both;
}

.part-54__logo {
  float: left;
  margin-top: 20px;
}
.part-54__gnb {
  position: absolute;
  right: 0;
  top: 10px;
  background-color: pink;
}
.part-54__gnb li {
  float: left;
  margin-left: 15px;
}
.part-54__nav {
  float: right;
  margin-top: 50px;
}
.part-54__nav > li {
  float: left;
  margin-left: 50px;
}

.part-54__container {
  background-color: antiquewhite;
}
.part-54__section1::after {
  content: "";
  display: block;
  clear: both;
}
.part-54__section1 > .part-54__box1 {
  width: 100px;
  height: 100px;
  background-color: purple;
  float: left;
}
.part-54__section1 > .part-54__box2 {
  width: 150px;
  height: 120px;
  background-color: green;
  float: left;
}
.part-54__section1 > .part-54__box3 {
  width: 200px;
  height: 70px;
  background-color: aqua;
  float: right;
}
.part-54__footer {
  background-color: #eee;
}

/** part-55 */
.part-55__quick-menu {
  background-color: #eee;
}
.part-55__quick-menu > ul {
  background-color: pink;
  max-width: 1200px;
  margin: 0 auto;
}
.part-55__quick-menu > ul::after {
  content: "";
  display: block;
  clear: both;
}
.part-55__quick-menu > ul > li {
  float: left;
  margin-left: 20px;
}
.part-55__quick-menu > ul > li strong {
  font-size: 18px;
  color: #292929;
  display: block;
  margin-left: 90px;
  margin-top: 10px;
}
.part-55__quick-menu > ul > li span {
  font-size: 13px;
  color: #999;
  margin-left: 90px;
}
.part-55__quick-menu > ul > li > a {
  position: relative;
}
.part-55__quick-menu > ul > li > a::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  background-image: url("../images/icon_quickmenu.png");
  position: absolute;
}
.part-55__quick2 > a::before {
  background-position: -70px 0;
}
.part-55__quick3 > a::before {
  background-position: -140px 0;
}
.part-55__quick4 > a::before {
  background-position: -210px 0;
}

/** part-56 */
.part-56__icon > ul::after {
  content: "";
  display: block;
  clear: both;
}
.part-56__icon > ul > li {
  float: left;
  margin-left: 15px;
  position: relative;
  text-align: center;
}
.part-56__icon > ul > li strong {
  display: block;
  height: 40px;
}
.part-56__icon > ul > li::after {
  content: "";
  display: block;
  width: 2px;
  height: 40px;
  position: absolute;
  top: -5px;
  right: -7.5px;
  background-color: rgba(0, 0, 0, 0.2);
}
.part-56__icon > ul > li:first-child {
  margin: 0;
}
.part-56__icon > ul > li:last-child::after {
  display: none;
}

/** part-57 */
#part-57 .before > div,
#part-57 .after > div {
  background-color: pink;
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 12px;
}
.before > .part-57__box2 {
  padding: 30px;
}
.before > .part-57__box3 {
  border: 20px solid;
  padding: 20px;
}
.after > .part-57__box2 {
  padding: 30px;
  box-sizing: border-box;
}
.after > .part-57__box3 {
  border: 20px solid;
  padding: 20px;
  box-sizing: border-box;
}

/** part-58 */
.after > .part-58__title {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.after > .part-58__box {
  width: 50px;
  height: 50px;
  box-shadow: inset 10px 10px 0px 15px red;
}

/** part-61 */
#part-61 .one > div {
  background: url("../images/img_service_main_02_mo.png") no-repeat;
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 20px;
  border: 15px dashed rgba(0, 0, 0, 0.2);
  padding: 40px;
}
#part-61 .one > .part-61__box2 {
  background-origin: border-box;
}
#part-61 .one > .part-61__box3 {
  background-origin: content-box;
}
#part-61 .one > .part-61__box4 {
  background-origin: padding-box;
}

/** part-62 */
#part-62 .one > div {
  width: 200px;
  height: 50px;
  background: url("../images/img_service_main_02_mo.png") no-repeat;
  border: 15px dashed rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  padding: 40px;
  background-origin: border-box;
  color: #fff;
}
#part-62 .one > .part-62__box2 {
  background-clip: border-box;
}
#part-62 .one > .part-62__box3 {
  background-clip: content-box;
}
#part-62 .one > .part-62__box4 {
  background-clip: padding-box;
}

/** part-63 */
#part-63 .one > p > a[target] {
  font-size: 30px;
  text-decoration: underline;
}
#part-63 .one > p > a[href^='http://daum']
{
  font-size: 25px;
  color: blue;
}
#part-63 .one > p > a[href$=".com"] {
  font-size: 20px;
  color: green;
}
#part-63 .one > p > a[href*="z"] {
  font-size: 15px;
  color: pink;
}
#part-63 .one input[type="text"] {
  background-color: cyan;
  color: red;
}
#part-63 .one input[type="radio"] + label {
  color: blue;
  background-color: orange;
}
#part-63 .one input[type="checkbox"] + label {
  color: yellow;
  background-color: darkblue;
}

/** part-64 */
#part-64__checkbox {
  display: none;
}
#part-64__checkbox + label {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../images/checkbox-30-24.png");
}
#part-64__checkbox:checked + label {
  background-image: url("../images/checkbox-31-24.png");
}
#part-64 input[type="radio"] + label {
  color: skyblue;
}
#part-64 input[type="text"]:focus {
  background-color: pink;
}
#part-64 input:disabled {
  border: 5px solid #ddd;
}

/** part-65 */
/* .part-65__nav > li {
   float: left;
   margin: 10px 50px;
} */
.part-65__nav,
.part-65__box-wrap {
  display: flex;
  justify-content: space-between;
}

.part-65__box-wrap > div {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: salmon;
  /* float: left; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.part-65__box-wrap > div:target {
  width: 200px;
  height: 200px;
  background-color: deepskyblue;
}
.part-65__nav > li > a:hover {
  color: skyblue;
}

/** part-66 */
#part-66 .before {
  height: 230px;
  width: 205px;
}
#part-66 .after {
  height: 230px;
  width: 205px;
}
.part-66__box {
  width: 100px;
  height: 100px;
  background: tomato;
}
.after .part-66__box {
  transition: width 1s, height 1s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part-66__box:hover {
  width: 200px;
  height: 200px;
}

/** part-67 */
.part-67__wrap {
  width: 600px;
  border: 5px solid;
}
.part-67__wrap > div {
  width: 10px;
  height: 50px;
  margin: 10px;
  background: cornflowerblue;
  transition: all 3s;
  overflow: hidden;
  white-space: nowrap;
  color: #fff;
  line-height: 50px;
  text-indent: 10px;
}
.part-67__wrap > div:nth-child(2) {
  transition-timing-function: linear;
}
.part-67__wrap > div:nth-child(3) {
  transition-timing-function: ease-out;
}
.part-67__wrap > div:nth-child(4) {
  transition-timing-function: ease-in;
}
.part-67__wrap > div:nth-child(5) {
  transition-timing-function: step-end;
}
.part-67__wrap > div:nth-child(6) {
  transition-timing-function: step-start;
}
.part-67__wrap > div:nth-child(7) {
  transition-timing-function: steps(10);
}
.part-67__wrap > div:last-child {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.part-67__wrap:hover div {
  width: 580px;
}

/** part-68 */
.part-68__header {
  background: #f6f5ef;
  border-bottom: 1px solid #e5e5e5;
  height: 50px;
}
.part-68__inner {
  width: 800px;
  margin: 0 auto;
}

.part-68__gnb > li {
  float: right;
}
#part-68__search-box {
  float: right;
  border: 1px solid #999;
  border-radius: 5px;
  background: white;
  position: relative;
  width: 32px;
  transition: all 1s;
}
#part-68__search-box:target {
  width: 180px;
}
#part-68__search-box:target > input {
  display: inline;
}
#part-68__search-box > input {
  border: none;
  width: calc(100% - 40px);
  line-height: 26px;
  box-sizing: border-box;
  padding: 3px 10px;
  display: none;
}
#part-68__search-box img {
  width: 32px;
  padding: 0;
  margin: 0;
}

/** part-69 */
#part-69__nav {
  width: 1100px;
  font-weight: 700;
  font-size: 18px;
}
#part-69__nav > li {
  float: left;
  margin: 0 50px;
}
#part-69__nav a {
  /* background-color: skyblue; */
  display: block;
  padding: 15px 0;
  position: relative;
}
#part-69__nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #1ec545;
  position: absolute;
  bottom: 0;
  transition: all 0.6s;
}
#part-69__nav a:hover::after {
  width: 100%;
}

/** part-70 */
.part-70__box1,
.part-70__box2,
.part-70__box3,
.part-70__box4,
.part-70__box5 {
  width: 100px;
  height: 100px;
  border: 5px solid;
  background: deepskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  margin: 10px 0;
}

.part-70__box1:hover {
  transform: translate(50px, 50px);
}
.part-70__box2:hover {
  transform: scale(1.5);
}
.part-70__box3:hover {
  transform: skew(10deg, 50deg);
}
.part-70__box4:hover {
  transform: rotate(360deg);
}
.part-70__box5:hover {
  transform: scale(1.5) rotate(180deg);
}

/** part-71 */
#part-71 .code-result > div {
  position: relative;
  height: 200px;
  width: 400px;
}
#part-71 .code-result > div::before,
#part-71 .code-result > div::after {
  content: "";
  display: block;
  background: magenta;
  position: absolute;
}
#part-71 .code-result > div::before {
  height: 210px;
  width: 1px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#part-71 .code-result > div::after {
  width: 410px;
  height: 1px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.part-71__box {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  z-index: 10;
}
.after .part-71__box {
  transform: translate(-50%, -50%);
}

/** part-72 */
#part-72 .one {
  background: #eee;
  text-align: center;
  height: 100px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .part-72__nav { display: flex; } */
.part-72__nav > li {
  float: left;
  padding: 0 15px;
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
}
.part-72__nav > li::before {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  background: #333;
  position: absolute;
  top: 50%;
  right: 0;
  transform: skewX(-15deg) translate(-50%, -50%);
}
.part-72__nav > li:last-child::before {
  display: none;
}
.part-72__nav > li::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: dodgerblue;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 0.3s ease-in-out;
}
.part-72__nav > li:hover::after {
  width: 90%;
}

/** part-73 */
.part-73__main-banner > .part-73__banner img {
  width: 100%;
}
.part-73__main-banner {
}
.part-73__banner {
}
.part-73__banner > li {
  position: relative;
}
.part-73__banner > li .part-73__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  padding: 30px 50px;
  border-radius: 10px;
}

/** part-74 */
.part-74__box-wrap {
}
.part-74__box-wrap > div {
  float: left;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0.5;
  transition: 0.5s;
  width: 23%;
}
.part-74__box-wrap > div > img {
  width: 100%;
}
.part-74__box-wrap > div:hover {
  opacity: 1;
  border-radius: 0;
}
.part-74__more {
  margin: 100px 0;
  position: relative;
}
.part-74__more > a {
  display: block;
  width: 200px;
  height: 65px;
  background: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  text-align: center;
  line-height: 65px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: 1s;
}
.part-74__more > a::after {
  content: "";
  display: block;
  background: black;
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 0) scale(0);
  transition: 1s;
}
.part-74__more > a::before {
  content: "view all";
  text-transform: uppercase;
  position: absolute;
  z-index: 100;
  opacity: 0;
  transition: 1s;
}
.part-74__more > a:hover::before {
  color: #fff;
  opacity: 1;
}
.part-74__more > a:hover::after {
  transform: translate(-50%, -50%) scale(1);
}

/** part-75  */
.part-75__box {
  float: left;
  margin: 0 10px;
  width: 300px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
.part-75__img-box {
  overflow: hidden;
  height: 300px;
}
.part-75__img-box > img {
  width: 100%;
  transition: 1s ease-in-out;
}
.part-75__text-box {
  text-align: center;
  margin-top: 20px;
}
.part-75__text-box > strong {
  font-size: 20px;
  display: block;
  width: 170px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 1.5s;
}
.part-75__more {
  display: inline-block;
  background: #eee;
  color: #000;
  padding: 10px 20px;
  border-radius: 30px;
  transition: 1s;
}
.part-75__box:hover .part-75__img-box > img {
  transform: scale(1.2);
}
.part-75__box:hover .part-75__text-box > strong {
  width: 300px;
}
.part-75__box:hover .part-75__more {
  background-color: #000;
  color: #fff;
}

/** part-76 */
/*^ 레이어 부모 설정 */
.part-76__img-wrap {
  position: relative;
}
/*^ 레이어 생성 */
.part-76__img-wrap::before,
.part-76__img-wrap::after,
.part-76__img-wrap > a::before,
.part-76__img-wrap > a::after {
  content: "";
  display: block;
  position: absolute;
  transition: all 0.5s;
  background: red;
}
/*^ 가로선 */
.part-76__img-wrap::before,
.part-76__img-wrap::after {
  width: 0;
  height: 1px;
}
/*^ 세로선 */
.part-76__img-wrap > a::before,
.part-76__img-wrap > a::after {
  width: 1px;
  height: 0;
}
/*^ 가로선 위치 */
.part-76__img-wrap::before {
  left: 0;
}
.part-76__img-wrap::after {
  right: 0;
}
/*^ 세로선 위치 */
.part-76__img-wrap > a::before {
  bottom: 0;
  left: 0;
}
.part-76__img-wrap > a::after {
  top: 0;
  right: 0;
}

/*^ hover 시 width, height 값 증가 */
.part-76__img-wrap:hover::before,
.part-76__img-wrap:hover::after {
  width: 100%;
}
.part-76__img-wrap:hover > a::before,
.part-76__img-wrap:hover > a::after {
  height: 100%;
}

/** part-77 */
.part-77__button {
  width: 300px;
  height: 80px;
  border-radius: 50px;
  background: linear-gradient(
    to bottom,
    #b7deed 0%,
    #71ceef 50%,
    #21b4e2 51%,
    #b7deed 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */
}

/** part-78 */
.part-78__button {
  width: 300px;
  height: 80px;
  border: 2px solid #fff;
  border-radius: 50px;
  text-align: center;
  line-height: 80px;
  font-size: 40px;
  background: linear-gradient(
    to bottom,
    #b7deed 0%,
    #71ceef 50%,
    #21b4e2 51%,
    #b7deed 100%
  );
  position: relative;
}
.part-78__button::before {
  content: "";
  display: block;
  width: 280px;
  height: 60px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 1%,
    rgba(255, 255, 255, 0) 52%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 30px;
  position: absolute;
  top: 7px;
  left: 10px;
}

/** part-79 */
.part-79__button > * {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #fff;
}
.part-79__button > strong {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}
.part-79__button > span {
  text-transform: capitalize;
}
.part-79__button {
  border-radius: 55px;
  background: linear-gradient(
    135deg,
    rgba(122, 188, 255, 1) 0%,
    rgba(53, 88, 122, 1) 100%
  );
  text-align: center;
  box-shadow: 3px 3px 5px -5px black, inset 3px 3px 10px 0 #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 20px 70px;
}

/** part-80 */
.part-80__img-bg,
.part-80__gbg {
  font-size: 150px;
  margin: 0;
  -webkit-background-clip: text;
  color: transparent;
}
.part-80__img-bg {
  background-image: url("../images/mainBanner_3.jpg");
}
.part-80__gbg {
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 157, 0, 1) 20%,
    rgba(255, 246, 0, 1) 40%,
    rgba(98, 229, 170, 1) 60%,
    rgba(29, 0, 255, 1) 77%,
    rgba(29, 0, 255, 1) 77%,
    rgba(182, 0, 255, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
}

/** part-81 */
#part-81 .one {
  position: relative;
  width: 300px;
  height: 300px;
}
.part-81__box {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: tomato;
  position: absolute;
  animation: part-81__animation 3s 1s linear infinite alternate;
}

@keyframes part-81__animation {
  from {
    left: 0;
    top: 0;
  }
  50% {
    left: 100px;
    top: 200px;
  }
  to {
    top: 0;
    left: 200px;
  }
}

/** part-82 */
.part-82__main-banner {
  background: url("../images/main_visual_img01_pc.jpg") no-repeat center center;
  height: 750px;
  position: relative;
  background-size: cover;
  width: 1920px;
}
.part-82__circle-wrap {
  position: absolute;
  width: 200px;
  height: 200px;
  /* background-color: rgba(0, 255, 0, 0.4); */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.part-82__circle-wrap > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.part-82__circle-wrap > .part-82__circle {
  border: 1px solid #fff;
  animation: part-82__animation 6s infinite;
}
.part-82__circle-wrap > .part-82__circle:nth-of-type(2) {
  animation-delay: 2s;
}
.part-82__circle-wrap > .part-82__circle:nth-of-type(3) {
  animation-delay: 4s;
}
.part-82__circle-wrap > .part-82__img {
  background: red;
  width: 77px;
  height: 77px;
  z-index: 100;
}
@keyframes part-82__animation {
  from {
    width: 70px;
    height: 70px;
    opacity: 1;
  }
  to {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
.part-82__scroll-wrap {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: part-82__animation-2 1s ease-out infinite alternate;
}

@keyframes part-82__animation-2 {
  from {
    /* transform: translate(-50%, 0); */
    bottom: 20px;
  }
  to {
    /* transform: translate(-50%, -50px); */
    bottom: 70px;
  }
}

/** part-83 */
.part-83__btn {
  width: 200px;
  height: 80px;
  border-radius: 50px;
  text-align: center;
  line-height: 80px;
  font-size: 22px;
  background: rgb(182, 0, 255);
  background: linear-gradient(
    to right,
    rgba(182, 0, 255, 1) 0%,
    rgba(255, 157, 0, 1) 20%,
    rgba(255, 246, 0, 1) 39%,
    rgba(98, 229, 170, 1) 63%,
    rgba(29, 0, 255, 1) 82%,
    rgba(182, 0, 255, 1) 100%
  );
  color: #fff;
  text-shadow: 1px 1px 5px black;
  background-size: 400%;
}
.part-83__btn:hover {
  animation: part-83__animation 3s linear infinite;
}

@keyframes part-83__animation {
  from {
    background-position: 0 center;
  }
  to {
    background-position: 400% center;
  }
}

/** part-84 */
.part-84__box-wrap {
  position: relative;
  width: 200px;
  height: 200px;
}
.part-84__box {
  width: 66px;
  height: 66px;
  background-color: gold;
  text-align: center;
  line-height: 66px;
  z-index: 100;
  font-weight: bold;
  text-transform: uppercase;
}
.part-84__box,
.part-84__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.part-84__box:hover + .part-84__circle {
  width: 66px;
  height: 66px;
  background-color: gold;
  animation: part-84__animation 2s infinite;
}
@keyframes part-84__animation {
  from {
    width: 66px;
    height: 66px;
    opacity: 1;
  }
  to {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

/** part-85 */
.part-85__btn {
  width: 300px;
  height: 100px;
  background: #000;
  line-height: 100px;
  text-align: center;
  color: #fff;
  position: relative;
}
.before .part-85__btn::before {
  width: 0;
  height: 0;
  border-right: 50px solid red;
  border-bottom: 50px solid blue;
  border-top: 50px solid green;
  border-left: 50px solid yellow;
  top: 0;
  right: 0;
}
.part-85__btn::before,
.part-85__btn::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-right: 0px solid #f5f5dc;
  border-bottom: 50px solid transparent;
  border-top: 50px solid transparent;
  border-left: 50px solid transparent;
  position: absolute;
  right: 0;
  transition: 0.5s;
}
.part-85__btn::before {
  top: -50px;
}
.part-85__btn::after {
  top: 50px;
}
.part-85__btn:hover::before,
.part-85__btn:hover::after {
  border-right-width: 50px;
}
.part-85__btn span {
  transition: 0.5s;
}
.part-85__btn:hover span {
  margin-left: -20px;
}

/** part-86 */
.part-86__wrap {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 500px;
}
.part-86__wrap > div,
.part-87__wrap > div,
.part-88__wrap > div {
  width: 100px;
  color: #fff;
  text-shadow: 0 0 10px black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.part-86__box1,
.part-87__box1,
.part-88__box1 {
  height: 100px;
  background-color: red;
}
.part-86__box2,
.part-87__box2,
.part-88__box2 {
  height: 120px;
  background-color: orange;
}
.part-86__box3,
.part-87__box3,
.part-88__box3 {
  height: 140px;
  background-color: yellow;
}
.part-86__box4,
.part-87__box4,
.part-88__box4 {
  height: 160px;
  background-color: green;
}
.part-86__box5,
.part-87__box5,
.part-88__box5 {
  height: 180px;
  background-color: blue;
}
.part-86__box6,
.part-87__box6,
.part-88__box6 {
  height: 200px;
  background-color: navy;
}
.part-86__box7,
.part-87__box7,
.part-88__box7 {
  height: 220px;
  background-color: purple;
}

/** part-87 */
.part-87__wrap {
  display: flex;
  align-items: center;
  width: 300px;
  flex-wrap: wrap;
}

/** part-88 */
.part-88__wrap {
  display: flex;
}
.part-88__box1 {
  order: 2;
}
.part-88__box2 {
  order: 3;
}
.part-88__box3 {
  order: 5;
}
.part-88__box4 {
  order: 4;
}
.part-88__box5 {
  order: 1;
}
.part-88__box6 {
  order: 7;
}
.part-88__box7 {
  order: 6;
}

/** part-89 */
.part-89__wrap,
.part-90__wrap {
  border: 10px solid;
  display: flex;
}
.part-89__wrap {
  width: 450px;
}
.part-89__wrap > div,
.part-90__wrap > div {
  width: 100px;
  height: 150px;
}
.part-89__box1,
.part-90__box1 {
  background: skyblue;
}
.part-89__box2,
.part-90__box2 {
  background: deeppink;
}
.part-89__box3,
.part-90__box3 {
  background: deepskyblue;
}
.part-89__box4,
.part-90__box4 {
  background: pink;
}
.after .part-89__box1 {
  flex-grow: calc(1);
}
.after .part-89__box2 {
  flex-grow: calc(1);
}
.after .part-89__box3 {
  flex-grow: calc(0);
}
.after .part-89__box4 {
  flex-grow: calc(2);
}

/** part-90 */
.before .part-90__wrap {
  width: 500px;
}
.after .part-90__wrap {
  width: 300px;
}
.after .part-90__box1 {
  flex-shrink: 1;
}
.after .part-90__box2 {
  flex-shrink: 0;
}
.after .part-90__box3 {
  flex-shrink: 1;
}
.after .part-90__box4 {
  flex-shrink: 1;
}

/** part-91 */
.after .part-91__box {
  column-count: 3;
  column-gap: 50px;
}

/** part-92 */
.part-92__header {
  border-top: 5px solid #d91126;
}

.part-92__container {
  --red: rgba(255, 0, 0, 0.8);
}
.part-92__container > h2 {
  color: #d91126;
}
.part-92__container > p {
  color: var(--red);
}

/** part-93 */
#part-93 .code-result > div {
  padding: 100px;
}
.part-93__box {
  width: 100px;
  height: 100px;
  background: skyblue;
  transition: 1s;
}

.part-93__box:hover {
  transform: scale(1.5);
  transform-origin: center top;
}
/** part-94 */
.part-94 {
  width: 500px;
  padding: 10px;
  border: 5px solid;
}
.part-94 > img {
  width: 500px;
  height: 500px;
}
.part-94__img2 {
  object-fit: contain;
}
.part-94__img3 {
  object-fit: cover;
}
.part-94__img4 {
  object-fit: scale-down;
}

/** part-95 */
/* #part-95 .code-result h2 {
  width: 250px;
  background-color: skyblue;
}
#part-95 .after h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
} */
/*^  grid var */
.grid-wrap {
  margin: 10px;
  padding: 10px;
  background: pink;
  display: grid;
  gap: 10px;
}
.grid-wrap > div {
  background: skyblue;
  border: 1px solid #000;
  padding: 10px;
}
/** part-95 */
.part-95__flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 0;
}
.part-95__flex-wrap > div {
  width: 26%;
}
.part-95__grid-wrap {
  display: grid;
  grid-template:
    "a a a"
    "a a a"
    "a a a";
  gap: 20px 10px;
}
/** part-96 */
.part-96__float-wrap {
  overflow: hidden;
  background: pink;
}
.part-96__float-wrap > div {
  float: left;
  width: 25%;
  margin: 1% 1% 0 0;
  background: skyblue;
}
.part-96__float-wrap > .box1 {
  width: 56%;
}
.part-96__float-wrap > .box1,
.part-96__float-wrap > .box2 {
  margin-top: 3%;
}
.part-96__float-wrap > .box1,
.part-96__float-wrap > .box3,
.part-96__float-wrap > .box6 {
  margin-left: 4%;
}
.part-96__float-wrap > .box6 {
  margin-bottom: 3%;
}
.part-96__flex-wrap {
  display: flex;
  gap: 10px 0;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
  background: pink;
}
.part-96__flex-wrap > div {
  width: 25%;
  background: skyblue;
}
.part-96__flex-wrap > .box1 {
  width: 58%;
}
.part-96__grid-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}
.part-96__grid-wrap > .box1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
/** part-97 */
.part-97__float-wrap {
  overflow: hidden;
  position: relative;
  background: pink;
  padding: 10px;
  margin: 10px;
}
.part-97__float-wrap > div {
  float: left;
  width: 20%;
  margin: 5px;
  padding: 10px;
  border: 1px solid #000;
  background: skyblue;
}
.part-97__float-wrap > .box2 {
  height: 80px;
}
.part-97__float-wrap > .box4 {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.part-97__flex-wrap {
  display: flex;
  gap: 10px 0;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  background: pink;
  position: relative;
}
.part-97__flex-wrap > div {
  width: 22%;
  background: skyblue;
  border: 1px solid #000;
  padding: 10px;
}
.part-97__flex-wrap > .box2 {
  height: 80px;
}
.part-97__flex-wrap > .box4,
.part-97__flex-wrap > .box5 {
  position: absolute;
  bottom: 10px;
}
.part-97__flex-wrap > .box4 {
  left: 15px;
}
.part-97__flex-wrap > .box5 {
  right: 15px;
}
.part-97__grid-wrap {
  grid-template-columns: repeat(3, 1fr);
}
.part-97__grid-wrap > .box2 {
  grid-column: 2;
  grid-row: 1/3;
}
/** part-98 */
.part-98__grid-wrap {
  grid-template-columns: repeat(5, 1fr);
}
.part-98__grid-wrap > .box2 {
  grid-area: 1/2/3/5;
}
/** part-99 */
.part-99__grid-wrap {
  grid-auto-columns: 1fr 2fr;
}
.after .part-99__grid-wrap > .box1 {
  grid-column: 2;
}
.after .part-99__grid-wrap > .box2 {
  grid-column: 3;
}
.after .part-99__grid-wrap > .box3 {
  grid-column: 4;
}
/** part-100 */
.part-100__grid-wrap {
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-rows: repeat(3, minmax(100px, auto));
  /* grid-template: repeat(3, 1fr) / repeat(3, 1fr); */
}
.part-100__grid-wrap > div {
  background: skyblue;
  border: 1px solid #000;
  padding: 10px;
}
/** part-101 */
.part-101__grid-wrap {
  grid-template: repeat(3, 100px) / repeat(3, 1fr);
  grid-auto-flow: column;
}
/** part-102  */
.part-102__grid-wrap {
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  text-align: center;
  color: #fff;
  font-weight: 700;
  gap: 0;
}
.part-102__grid-wrap > div {
  padding: 20px 50px;
}
.part-102__grid-wrap .part-102__grid-wrap .box1 {
  background: cyan;
}
.part-102__grid-wrap .box2 {
  background: lightgreen;
}
.part-102__grid-wrap .box3 {
  background: salmon;
}
.part-102__grid-wrap .box4 {
  /* grid-area: 2/1/3/3; */
  grid-column-end: span 2;
  background: pink;
}
.part-102__grid-wrap .box5 {
  background: red;
}
.part-102__grid-wrap .box6 {
  /* grid-area: 3/1/4/4; */
  grid-column-end: span 3;
}
.part-102__grid-wrap2 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0;
  color: #fff;
  text-align: center;
}
.part-102__grid-wrap2 div {
  padding: 20px 30px;
}
.part-102__grid-wrap2 .box1 {
  grid-column-end: span 3;
  background: navy;
}
.part-102__grid-wrap2 .box2 {
  grid-row-end: span 2;
  background: lightgreen;
}
.part-102__grid-wrap2 .box3 {
  grid-column-end: span 2;
  background: burlywood;
}
.part-102__grid-wrap2 .box4 {
  background: pink;
}
.part-102__grid-wrap2 .box5 {
  background: red;
}
.part-102__grid-wrap2 .box6 {
  grid-column-end: span 3;
  background: aqua;
}
/** part-103 */
@media screen and (min-width: 1280px) {
  #part-103 .media {
    background: skyblue;
    font-size: 16px;
  }
  .part-103__pc-title {
  }
  .part-103__ipad-title,
  .part-103__mobile-title {
    display: none;
  }
  .part-103__box {
  }
}
@media screen and (max-width: 1279px) {
  #part-103 .media {
    background: green;
    font-size: 14px;
    color: #fff;
  }
  .part-103__ipad-title {
    display: block;
  }
  .part-103__ipad-title,
  .part-103__pc-mobile-title {
    display: none;
  }
  .part-103__box {
  }
}
@media screen and (max-width: 767px) {
  #part-103 .media {
    background: pink;
    font-size: 12px;
  }
  .part-103__mobile-title {
    display: block;
  }
  .part-103__pc-title,
  .part-103__ipad-title {
    display: none;
  }
  .part-103__box {
  }
}
/** part-104 */
#part-104 .media {
  font-size: 16px;
}
.part-104__inner {
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.3);
}
.part-104__inner > address {
  font-style: normal;
}
.part-104__ham-btn {
  display: none;
}

.part-104__header {
  border-top: 3px solid #009223;
}
.part-104__header .part-104__inner {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px;
}
.part-104__gnb {
  display: flex;
  gap: 10px;
}
#part-104__nav {
  display: flex;
  gap: 50px;
  /* float: right */
  width: 100%;
  justify-content: right;
}
.part-104__main-banner {
  height: 440px;
}
.part-104__banner {
  height: 100%;
}
.part-104__banner > li {
  height: 100%;
}
.part-104__banner > li > a {
  display: block;
  height: 100%;
  background: url("../images/mainBanner_4.jpg") no-repeat center;
}
#part-104__main > section {
  padding: 50px 0;
}
.part-104__notice-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.part-104__notice-list > div {
  font-size: 3em;
  height: 200px;
  width: 24%;
}
.part-104__notice-list > .part-104__box1 {
  background: lightcoral;
}
.part-104__notice-list > .part-104__box2 {
  background: steelblue;
  flex: 1;
}
.part-104__notice-list > .part-104__box3 {
  background: green;
}
.part-104__member .part-104__inner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.part-104__member .part-104__inner > div {
  flex: 1;
}
.part-104__member img {
  width: 350px;
  height: 200px;
  object-fit: cover;
}
