<!DOCTYPE html>
<html lang="ko">
  <body>
    <div id="root"></div>
    <script
      crossorigin
      src="https://unpkg.com/react@18/umd/react.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/prop-types@15.8.1/prop-types.js"
    ></script>
    <script
      crossorigin
      src="
  https://unpkg.com/@babel/standalone/babel.min.js"
    ></script>
    <script type="text/babel">
      const root = ReactDOM.createRoot(document.getElementById("root"));
      const Btn = ({ text, fontSize, submit, changeValue, value }) => {
        return (
          <button
            onClick={changeValue}
            style={{
              backgroundColor: submit ? "skyblue" : "tomato",
              color: "white",
              padding: "10px 20px",
              borderRadius: "10px",
              border: 0,
              fontSize,
            }}
          >
            {text}
          </button>
        );
      };
      const MemorizedBtn = React.memo(Btn);
      Btn.propTypes = {
        text: PropTypes.string.isRequired,
        fontSize: PropTypes.number,
        submit: PropTypes.bool,
      };
      const App = () => {
        const [value, setValue] = React.useState("변경 저장");
        const changeValue = () => setValue("완료");
        return (
          <div>
            <MemorizedBtn
              text={value}
              fontSize={24}
              changeValue={changeValue}
            />
            <MemorizedBtn text="확인" re submit={true} />
          </div>
        );
      };
      root.render(<App />);
    </script>
  </body>
</html>
