@import url("https://db.onlinewebfonts.com/c/596b9b0742c4fb004a2adcaf9861a128?family=WWF");
@font-face {
  font-family: NanumBarunGothic;
  src: url("../fonts/NanumBarunGothic.ttf");
  font-weight: 400;
}
@font-face {
  font-family: NanumBarunGothic;
  src: url("../fonts/NanumBarunGothicBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: NanumBarunGothic;
  src: url("../fonts/NanumBarunGothicLight.ttf");
  font-weight: 300;
}
@font-face {
  font-family: NanumBarunGothic;
  src: url("../fonts/NanumBarunGothicUltraLight.ttf");
  font-weight: 200;
}
