@import "./fonts.css";

:root {
  --orange: #e98302;
}

body {
  font-family: "NanumBarunGothic", sans-serif;
  font-size: 16px;
}
.inner {
  max-width: 1480px;
  margin: 0 auto;
  background: rgba(255, 0, 0, 0.3);
}

/*^ header */
/* 최상단 메뉴바 */
header {
  background: black;
  position: fixed;
  width: 100%;
  height: 80px;
  line-height: 80px;
  z-index: 1000;
}
/* 로고 옆에 gnb 옮기기 */
.logo {
  float: left;
  width: 110px;
}
/* 이미지 100% */
/* .logo img {
  width: 100%;
} */
/* 로고 왼쪽으로 gnb 정렬 */
nav {
  float: left;
}
/* R-gnb 텍스트 정렬 */
.gnb-wrap {
  float: right;
  display: flex;
  align-items: center;
  gap: 20px;
}
/* R-gnb 텍스트 정렬 */
.gnb-wrap > .gnb {
  display: flex;
  gap: 30px;
}
/* R-gnb  */
.gnb-wrap > .gnb > li {
}
/* R-gnb color */
.gnb-wrap > .gnb > li > a {
  color: #ddd;
}
/* search */
.search-wrap {
  /* display: none; */
}
/* search 아이콘 이미지 */
.search-wrap > a {
  display: block;
  background: #fff url("../images/icon_search_search.png") no-repeat center
    center / 20px 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
/* search 아이콘 이미지 변경 */
.search-wrap > a:hover {
  background: #666 url("../images/icon_search_header_white.png") no-repeat
    center center / 20px 20px;
}
/* search 아이콘 내부 */
.search-wrap > .form-inner {
  display: none;
}
/* 후원하기 */
.sponer > a {
  display: block;
  background: transparent;
  color: #fff;
  padding: 0 40px;
  line-height: 50px;
  outline: 1px solid #fff;
  font-size: 1.2em;
  transition: all 0.3s;
}
/* 후원하기 hover */
.sponer > a:hover {
  background: var(--orange);
  color: #000;
  outline: none;
}
/* gnb 위치 */
#nav {
  display: flex;
  margin-left: 60px;
}
/* gnb 메뉴 wrap */
#nav > li {
  position: relative;
  padding: 0 30px;
}
/* gnb 텍스트 스타일 */
#nav > li > a {
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
}
/* gnb hover 서브 메뉴 활성화 */
#nav > li:hover .depth2 {
  display: block;
}
/* gnb hover 색상 변경 */
#nav > li:hover > a {
  color: var(--orange);
}
/* gnb:hover 서브 메뉴 */
#nav .depth2 {
  display: none;
  position: absolute;
  background: #fff;
  width: 220px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
  top: 65px;
  left: 0;
}
/* 서브 메뉴 스타일 */
#nav .depth2 a {
  display: block;
  padding: 0 30px;
  font-size: 1.15em;
  line-height: 3;
}
/* 서브 메뉴 hover 스타일 */
#nav .depth2 a:hover {
  display: block;
  background: var(--orange);
  color: #fff;
}
/* 서브 메뉴 '활동' 사이드탭 */
#nav .right {
  background: #ddd;
  top: 0;
  left: 220px;
  height: 331.2px;
  box-shadow: none;
  border-left: 1px solid #ddd;
}
/*^ container */
/* fixed 높이만큼 여백 지정 */
main {
  padding-top: 80px;
}
/* 배너 사이즈 및 부모 */
.main__banner {
  height: 680px;
  position: relative;
}
/* 배너 총 너비 및 가로 정렬 */
.banner {
  display: flex;
  width: calc(100% * 3);
}
/* 배너 너비 */
.banner li {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}
/* 배너 이미지 전환 효과 */
.banner > li img {
  width: 100%;
  height: 100%;
  animation: bannerSize 5s forwards;
  object-fit: cover;
}
/* 배너 크기 증가 */
@keyframes bannerSize {
  from {
    transform: sclae(1);
  }
  to {
    transform: scale(1.1);
  }
}
/* 배너 이미지 hover */
.banner > li:hover img {
  transform: scale(1.1);
}
/* 넘치는 이미지 hidden */
.banner-img {
  overflow: hidden;
}
/* 배너 텍스트 */
.banner-txt {
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
  word-break: keep-all;
  width: 100%;
}
/* 배너 제목 */
.banner-txt > h2 {
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 400;
  font-family: WWF;
}
/* 배너 서브 타이틀 */
.banner-txt > span {
  display: block;
  font-size: 1.5em;
  margin: 10px 0 30px;
}
/* 배너 더보기 */
.banner-txt > .more-btn > a {
  font-size: 1.6em;
  display: inline-block;
  border: 1px solid;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 60px;
  font-family: WWF;
  transition: all 0.2s;
}
/* 더보기 btn hover */
.banner-txt > .more-btn > a:hover {
  background: var(--orange);
  border-radius: 20px;
}
/* 배너 하단 아이콘 wrap */
.control-wrap {
  position: absolute;
  width: 100%;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 배너 컨트롤러 */
.control-btn {
  display: flex;
  gap: 25px;
  margin-left: 20px;
}
/* 컨트롤러 크기 */
.control-btn > li > a {
  display: block;
  width: 32px;
  height: 32px;
  background-size: cover;
  text-indent: -9999em;
}
/* 컨트롤러 이미지 */
.control-btn > li:first-child > a {
  background-image: url("../images/main_slide_arr_prev.png");
}
.control-btn > li:nth-child(2) > a {
  background-image: url("../images/main_slide_arr_next.png");
}
.control-btn > li:nth-child(3) > a {
  background-image: url("../images/main_slide_pause.png");
}
.control-btn > li:last-child > a {
  background-image: url("../images/main_slide_play.png");
}
/* 선택된 배너 페이지 */
.pager {
  display: flex;
  gap: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* 페이저 도형 */
.pager > li > a {
  display: block;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  text-indent: -9999em;
}
/* 마우스 스크롤 */
.scroll {
  width: 25px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 20px;
  position: relative;
  margin-right: 20px;
}
/* 마우스 가상선택 활성화, 중앙 */
.scroll::before,
.scroll::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
}
/* 마우스 내부 선 */
.scroll::before {
  background: rgba(255, 255, 255, 0.5);
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 20px;
}
/* 마우스 휠 */
.scroll::after {
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 50%;
  top: 5px;
  transform: translateX(-50%);
  animation: scroll 3s linear infinite alternate;
}
/* 마우스 휠 무브먼트 */
@keyframes scroll {
  from {
    top: 5px;
  }
  20% {
    top: 5px;
  }
  80% {
    top: 20px;
  }
  to {
    top: 20px;
  }
}
/*^ footer*/
.foot-top {
}
/** foot-link */
/* foot-link 정렬 */
.foot-link {
  border-bottom: 3px solid #000;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 가로 정렬, 자식 간격 */
.utilmenu > ul {
  display: flex;
  gap: 25px;
}
/* 개인정보처리방침 글꼴 스타일 */
.utilmenu strong {
  font-weight: 600;
}
/* sns 위치 정렬 */
.sns-wrap,
.sns-wrap .sns-list {
  display: flex;
  align-items: center;
  gap: 25px;
}
/* 텍스트 스타일 */
.sns-wrap strong {
  font-size: 1.5em;
  font-family: WWF;
}
/* 이미지 크기 변경 */
.sns-wrap .sns-list img {
  max-height: 20px;
}
/** foot-bottom */
/* flex 최대 너비 */
.foot-bottom {
  width: 1250px;
}
/* logo 마진, 정렬 */
.foot-bottom .foot-logo {
  float: left;
  margin: 20px 20px 0 0;
}
/* 로고 크기 조정 */
.foot-bottom .foot-logo img {
  height: 110px;
}
/* 회사 크기 조정 */
.foot-bottom .company > p {
  padding: 20px 0;
}
/* 주소 정렬 */
.foot-bottom address .footer-txt {
  display: flex;
  justify-content: space-between;
}
/* strong 마진 */
.footer-txt > div > strong {
  margin-right: 10px;
}
/* 주소 설명 서식 */
.footer-txt > div > span {
  color: #333;
  font-weight: 300;
}
/* copy 정렬 */
.copy {
  margin-top: 10px;
}
/* copy 서식 */
.copy > span > span {
  text-decoration: underline;
}
