<!DOCTYPE html>
<html lang="ko">
  <body>
    <div id="root"></div>
    <script
      crossorigin
      src="https://unpkg.com/react@18/umd/react.development.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
    ></script>
    <script
      crossorigin
      src="
  https://unpkg.com/@babel/standalone/babel.min.js"
    ></script>
    <script type="text/babel">
      const root = ReactDOM.createRoot(document.getElementById("root"));
      const Btn = ({ text, big, submit, changeValue, value }) => {
        return (
          <button
            onClick={changeValue}
            style={{
              backgroundColor: submit ? "skyblue" : "tomato",
              color: "white",
              padding: "10px 20px",
              borderRadius: "10px",
              border: 0,
              fontSize: big ? "24px" : "18px",
            }}
          >
            {text}
          </button>
        );
      };
      const MemorizedBtn = React.memo(Btn);
      const App = () => {
        const [value, setValue] = React.useState("변경 저장");
        const changeValue = () => setValue("완료");
        return (
          <div>
            <MemorizedBtn text={value} big={true} changeValue={changeValue} />
            <MemorizedBtn text="확인" submit={true} />
          </div>
        );
      };
      root.render(<App />);
    </script>
  </body>
</html>
