img,
i {
  max-width: 1080px;
  vertical-align: top;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}

@font-face {
  font-family: KakaoBig;
  src: url("../font/KakaoBig-Bold-v1.0.335a95e.woff2");
  font-weight: 700;
}
@font-face {
  font-family: KakaoBig;
  src: url("../font/KakaoBig-Regular-v1.0.4bf7d77.woff2");
  font-weight: 500;
}
@font-face {
  font-family: KakaoSmall;
  src: url("../font/KakaoSmall-Light-v1.0.ef99f33.woff2");
  font-weight: 300;
}
@font-face {
  font-family: KakaoSmall;
  src: url("../font/KakaoSmall-Regular-v1.0.5c6e996.woff2");
  font-weight: 400;
}
@font-face {
  font-family: KakaoSmall;
  src: url("../font/KakaoSmall_Bold_OTF.b852aad.woff2");
  font-weight: 700;
}

.skip a {
  display: block;
  position: absolute;
  top: -990px;
  background-color: #000;
  color: yellow;
  width: 100%;
  line-height: 30px;
  text-align: center;
}
.skip a:focus {
  top: 0;
}

body {
  font-family: "KakaoSmall", sans-serif;
  font-size: 14px;
  color: #000;
}

.mobile-img {
  display: none;
}

@media screen and (max-width: 700px) {
  .mobile-img {
    display: block;
  }
  .pc-img {
    display: none;
  }
}

.blind {
  position: absolute;
  top: -50000px;
}

.float-clear::after {
  content: "";
  display: block;
  clear: both;
}

.inner {
  max-width: 1296px;
  margin: 0 auto;
  background-color: pink;
}

/*^ header */
header {
  text-align: center;
  padding: 20px 0;
}
header .logo {
  float: left;
  width: 74px;
  margin-top: 5px;
  font-size: 0;
}
header nav {
  display: inline-block;
}
header nav ul {
}
header nav ul > li {
  float: left;
  margin: 5px 25px 0;
}
header nav ul > li > a {
  font-weight: 700;
  font-size: 1.15em;
}
header nav:hover ul > li > a {
  color: #999;
}
header nav ul > li > a:hover {
  color: black;
}
header .gnb {
  float: right;
}
header .gnb > li {
  float: left;
  width: 74px;
}
header .gnb > li > a {
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  padding: 5px;
}
header .gnb > li > a:hover {
  background: #eee;
}

/*^ main */
#container {
}
.today-kakao-header {
  display: none;
  border-bottom: 1px solid #eee;
  font-size: 0.9em;
  padding: 20px 0;
}
.today-kakao-header img {
  width: 36px;
  margin-right: 10px;
}

.contents {
}
.contents .kakao_news {
}
.contents .kakao_culture {
}
.contents .kakao_etc {
}
.contents > div > div {
  float: left;
  width: 49%;
}
.contents > div > div:last-child {
  float: right;
}
.contents > div .news_item_card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: white;
  float: left;
  box-sizing: border-box;
  margin-bottom: 20px;
  overflow: hidden;
  /* position: relative; */
}
.contents > div .news_item_card .text_box {
  padding: 20px 25px;
}
.contents > div .news_item_big {
  width: 49%;
}
.contents > div .news_wrap .news_item_card {
  width: 49%;
  /* position: relative; */
}
.contents > div .news_item_card .card_info {
  line-height: 40px;
  position: relative;
}
.contents > div .news_item_card .card_info > a {
  display: block;
  width: 24px;
  /* float: right; */
  position: absolute;
  top: 8px;
  right: 5px;
}
.news_item_card .text_box .card_info > img {
  width: 40px;
  margin-right: 10px;
}
.news_item_card .img_box > img {
  width: 100%;
  border-radius: 0 0 20px 20px;
}
.news_item_card .card_title {
  font-size: 1.6em;
  font-weight: 700;
}

.kakao_culture {
  text-align: center;
  background-color: #fff;
  padding: 50px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.kakao_culture > strong {
  font-size: 2em;
}
.kakao_culture > p {
  margin: 25px 0;
}
.kakao_culture > p > a {
  display: inline-block;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
}
.kakao_culture .pc_img {
  float: none;
  width: 100%;
}
.kakao_culture .pc_img img {
  width: 70%;
}
.kakao_culture .mobile_img {
  display: none;
}

.kakao_news2 .news_item_card .card_title {
  font-size: 1em;
  color: red;
}

.kakao_news2 .text_box > ul > li {
  float: left;
  /* margin-left: 10px; */
}

.kakao_news2 .text_box > ul > li > a {
  display: block;
  padding: 10px;
  border-radius: 20px;
  background-color: #eee;
}

.kakao_etc .kakao_service {
  background-color: #fae100;
  border-radius: 20px;
  padding: 50px 20px;
  height: 360px;
  position: relative;
  box-sizing: border-box;
}
.kakao_etc .kakao_service > a > strong {
  font-size: 3em;
}
.kakao_etc .kakao_service > a > .more_btn {
  font-size: 1em;
  display: block;
  padding: 10px;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 200px;
  left: 30px;
}

.kakao_etc .kakao_recruit {
  background-color: #3c64ff;
  border-radius: 20px;
  padding: 50px 20px;
  box-sizing: border-box;
  position: relative;
  height: 360px;
}

.kakao_etc .kakao_recruit > a > strong {
  font-size: 3em;
}
.kakao_etc .kakao_recruit > a > .more_btn {
  font-size: 1em;
  display: block;
  padding: 10px;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 200px;
  left: 30px;
}

.kakao_etc img {
  width: 150px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.kakao_etc .kakao_recruit img {
  width: 300px;
}
