header {
  height: 80px;
  background: #ccc;
}
@media screen and (max-width: 1280px) {
  header {
    position: fixed;
    width: 100%;
    height: initial;
    background: skyblue;
  }
}

#container {
  width: 1280px;
  background: lightgreen;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  #container {
    width: 100%;
    background: lightcoral;
  }
}