a {
  text-decoration: none;
  color: black;
}
main > a:hover {
  opacity: 0.3;
}
main {
  padding: 10px;
}

.code {
  width: 60vh;
  background-color: gainsboro;
  padding: 10px;
}

.code-result {
  width: 60vh;
  background-color: beige;
  padding: 10px;
}
.margin {
  margin-top: 50px;
}

.table--darkgray {
  background-color: darkgray;
}

.table--lightgray {
  background-color: rgb(219, 219, 219);
}
.part__14-main ul {
  padding: 0px;
}
.part__14-main h1 {
  display: inline;
}
.part__14-main > ul > li {
  list-style: none;
}
.part__14-main > div > ul > li {
  list-style: none;
}
.part__14-main > div > ul > li > ul > li {
  list-style: none;
}
.part__14-main > div > ul > li > a {
  text-decoration: none;
  color: black;
}
.part__14-main > div > ul > li > ul > li > a {
  text-decoration: none;
  color: black;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

blockquote {
  margin: 0px 25px;
}

.blockquote {
  margin-left: 25px;
}
