@media screen and (max-width: 800px) {
  img {
    max-width: 650px;
  }
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px;
}
header,
main,
footer {
  padding: 0px 10px;
}

address {
  font-style: normal;
}

/* preset */
.clear-both::after {
  content: "";
  display: block;
  clear: both;
}
.inner-box {
  max-width: 950px;
  margin: 0 auto;
  position: relative;
}

.depth > li:hover > a {
  color: #000;
}

header {
  text-align: center;
}
header .inner-box {
  max-width: 1180px;
}
.nav__header {
  position: relative;
  text-align: center;
  max-width: 1170px;
  margin: 0 auto;
}
.nav__header li {
  float: left;
  display: inline-block;
  text-align: center;
  width: 195px;
  height: 35px;
  padding-bottom: 10px;
}
/** 부제 숨김 */
.nav__header-subtitle {
  display: none;
  width: 100%;
  font-size: 12px;
  margin: 1px 0px 0px 0px;
}
/** 부제 hover시 보임 */
.nav__header--menu:hover > ul > li > span {
  display: block;
  color: #000;
}

/*^ 서브 텍스트 부모 */
.nav__header--menu {
  position: relative;
}
/*^ 서브 텍스트 absolute */
.nav__menu--layer {
  display: none;
  position: absolute;
  z-index: 200;
  background-color: skyblue;
  padding: 10px 0;
}
/** hover시 depth 보이기 */
.nav__header--menu:hover .nav__menu--layer {
  display: block;
}

.depth {
  float: left;
  margin: 0;
}
.depth > li {
  /* display: none; */
  width: 195px;
}
.depth > li > a {
  color: #999;
}
.header__inner {
  position: relative;
}
.header__inner--logo {
  text-align: center;
}
.gnv__left {
  position: absolute;
  top: 5px;
  left: 150px;
}
.gnv__left li {
  display: inline-block;
}
.gnv__right {
  position: absolute;
  top: 0;
  right: 110px;
  font-size: 12px;
}
.gnv__right > li {
  float: left;
  margin-right: 10px;
}

.gnv__floating {
  position: absolute;
  top: 30px;
  right: 50px;
}

.main__franchise,
.main__store {
  background-color: #faf9f7;
  /* padding: 20px 10px; */
}

.main__list1 h2 {
  margin: 0;
}

.main__hollys--mall {
  margin: 0 10px;
}

.main__hollys--mall > ul {
  text-align: center;
}

.banner--pager--item {
  position: absolute;
  left: 80%;
  gap: 10px;
}

.main__banner {
  position: relative;
  margin-bottom: 20px;
}
.main__banner > ul {
  overflow: hidden;
}

.main__banner img {
  float: left;
  border-top: 1px solid #b5121b;
  width: 25%;
}
.main__banner > ul > li {
  width: 400%;
  vertical-align: top;
}

.pager--item {
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid black;
}

.pager--link {
  color: white;
  font-size: 12px;
}
/** 카테고리 중앙 센터링 */
.main__list1 {
  max-width: 950px;
  margin: 0 auto;
}
/** 카테고리 가로 정렬 */
.main__list1 > div {
  float: left;
}
/** 할리스몰 높이 설정 */
.main__hollys--mall {
  padding: 0 18px;
}
/** 할리스몰 상품 가로 정렬 */
.main__hollys--mall ul > li {
  float: left;
}
/** 스토어 img 블럭화 */
.main__store > a:first-child {
  display: block;
}
/** 멤버십 센터링 */
.main__hollys-membership {
  max-width: 950px;
  margin: 0 auto;
}
/** 멤버십 가로 정렬 */
.main__hollys-membership > ul > li {
  float: left;
  margin-right: 10px;
}
/** 하단 바 border */
.main__list3 {
  border-bottom: 3px solid #ba000c;
  max-width: 950px;
  margin: 0 auto;
}
/** list 가로 정렬 */
.main__list3 > div {
  float: left;
}
/** list 가로 정렬 해제 */
.main__list3 > .list__icon {
  float: none;
}
.list3__news,
.list3__solution,
.list3__academy {
  width: 205px;
  font-size: 12px;
  margin-left: 10px;
}
.list3__news {
  margin-left: 0;
}
.list3__news--box {
  margin-left: 5px;
  line-height: 2;
}
.list3__news--box > ul > li > a {
  display: block;
  width: 100%;
}
.list3__news--box > ul > li > a > p {
  padding: 0;
  margin: 0;
}
.list3__news--box > ul > li > a > p:first-child {
  float: left;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list3__news--box > ul > li > a > p:last-child {
  text-align: end;
}

.list__icon ul {
  text-align: center;
  padding-top: 40px;
}
.list__icon > ul > li {
  float: left;
  /* margin-left: 10px; */
}
.list__icon > ul > li img {
  border-right: 1px dashed black;
  padding: 0 29px;
}
.list__icon > ul > li:last-child img {
  border-right: none;
}

/* footer */
footer {
  width: 100%;
  padding: 35px 0;
  background-color: #ba000c;
}

.footer__icon {
  margin: 0 auto;
  max-width: 950px;
}
.footer__icon > h2 {
  float: left;
}

.footer__icon > ul {
  padding-top: 17px;
  margin-left: 150px;
}

.footer__icon > ul > li {
  margin: 2px;
  float: left;
}

.footer__address {
  opacity: 0.5;
}
/** 간격 제거 */
.footer__address p {
  margin: 0;
}
.nav__footer--menu a {
  color: #fff;
}
.footer__address * {
  color: #fff;
}

/** footer 메뉴 가로 정렬 */
.nav__footer--menu > ul > li {
  float: left;
  margin-right: 15px;
  position: relative;
}
/** footer 메뉴 경계면 */
.nav__footer--menu > ul > li > a::after {
  content: "";
  display: block;
  position: absolute;
  right: -8px;
  top: 0;
  height: 16px;
  width: 2px;
  background-color: #fff;
}
/** 마지막 li에 있는 after 제거 */
.nav__footer--menu > ul > li:last-child > a::after {
  display: none;
}
