header {
  border-bottom: 2px solid #ccc;
  #nav {
    display: flex;
    justify-content: flex-end;

    li {
      margin: 0 100px;

      &:last-child {
        margin-right: 0;
      }
      a {
        font-size: 30px;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
          color: pink;
        }
      }
    }
  }
}
