@mixin myText {
  font-size: 25px;
  color: #fff;
  text-decoration: underline;
}

h1,
span,
p {
  @include myText();
}

h1 {
  background: pink;
  border: 1px solid green;
}

span {
  background: lightblue;
  font-style: italic;
}

p {
  background: yellow;
  font-weight: bold;
}
