.box__wrap {
  $parent: &;

  border: 2px solid dodgerblue;
  padding: 10px 30px;
  margin: 20px;

  .box {
    border-radius: 50px;
    background: skyblue;
    font-size: 30px;
    display: inline-block;
    @extend #{$parent};
  }
}
