@import url("../../../reset.css");
li {
  list-style: none;
}
.blind {
  display: none;
}

:root {
  --main-color: #c10004;
  --dark: #333333;
  --mid: #666666;
  --light: #999999;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(0, 0, 255, 0.3);
}

body {
  background-color: #ccc;
}
/* 가로 정렬 */
.header-inner,
#nav,
.gnb,
.banner,
.sevice-list,
.portfolio-list,
.partner-list,
.award-list {
  display: flex;
}

/* mobile */
.mobile-gnb {
  display: none;
}

/** header */
header {
  position: fixed;
  width: 100%;
}
header.fixed {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.header-inner {
  padding: 0 60px;
  justify-content: space-between;
  height: 120px;
  align-items: center;
}
.logo {
  width: 147px;
}
#nav {
  gap: 50px;
  visibility: hidden;
}
#nav > li > a {
  color: #fff;
  font-size: 1.175em;
  font-weight: 500;
}

/* 메뉴 우측 상단 버튼 위치 */
.gnb {
  gap: 15px;
}
.gnb > li > a {
  display: block;
  position: relative;
  border: 2px solid white;
  border-radius: 30px;
  padding: 10px 20px;
  color: #fff;
}

/* 더보기 */
.gnb > .ham-btn > a {
  padding: 20px;
  border-radius: 50%;
  background: #fff;
}
.gnb > .ham-btn > a > span {
  display: block;
  width: 50%;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gnb > .ham-btn > a > span:nth-child(2) {
  top: 35%;
}
.gnb > .ham-btn > a > span:nth-child(3) {
  top: 65%;
}

/** 더보기 메뉴 */
/* TODO 나중에 수정 */
.popup-menu {
  display: none;
}
.popup-menu > ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.popup-menu > ul .depth1 > a {
  font-weight: 700;
  font-size: 1.5em;
}

/** main */
.main-banner {
  width: 300%;
}
.banner {
  height: 100vh;
  position: relative;
}
.banner > li {
  width: calc(100% / 3);
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  position: relative;
}

/* banner 1번 */
.banner > li:first-child {
  background: #cc0100 url("../images/common/bg_dot.png");
}
/* banner 1번 - 대표 도형 */
.banner > li:first-child::after {
  content: "";
  display: block;
  width: 981px;
  height: 741px;
  background: url("../images/main/v1_polygon.png") no-repeat center / cover,
    url("../images/main/v1_shadow.png") center / cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* banner 2번 */
.banner > li:nth-child(2) {
  background: url("../images/main/v2_bg.jpeg"),
    url("../images/common/bg_dot.png")
      /* ,
  -webkit-linear-gradient(top, rgba(97, 97, 95, 1) 0%, rgba(107, 99, 87, 1)
  59%, rgba(12, 11, 10, 1) 100%) */;
}
.banner > li:nth-child(2)::before {
  content: "";
  display: block;
  background: url("../images/common/bg_dot.png");
  position: absolute;
  z-index: 1000;
}
/* banner 3번 */
.banner > li:nth-child(3) {
  background: url("../images/main/v3_bg.png") no-repeat;
  background-size: cover;
}
.banner > li:nth-child(3)::before {
  content: "";
  display: block;
  width: 1251px;
  height: 1026px;
  background: url("../images/common/bg_dot.png"),
    url("../images/main/v3_polygon.png");
  position: absolute;
}

/* 배너 텍스트 */
.banner > li > .inner {
  border-left: 1px solid #fff;
  padding-left: 40px;
  width: 100%;
  position: relative;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  z-index: 100;
}
/* 배너 제목 */
.banner > li > .inner h2 {
  font-size: 5em;
  letter-spacing: 20px;
}
.banner > li > .inner h2 span {
  display: block;
  font-weight: 300;
}
.banner > li > .inner .text {
  margin: 20px 0 30px;
}
.banner > li > .inner .more-btn {
}
.banner > li > .inner .more-btn > a {
  color: #fff;
  opacity: 0.7;
  display: inline-block;
  padding: 0 30px 5px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  transition: all 0.5s;
}
/* MORE View 뒤 화살표 */
.banner > li > .inner .more-btn > a::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background: #fff;
  transform: rotate(-45deg);
  transform-origin: right bottom;
  position: absolute;
  right: 0;
  bottom: 0;
}
.banner > li > .inner .more-btn > a:hover {
  padding-right: 50px;
  opacity: 1;
}
/* 배너 이동 버튼 */
.arrow-btn {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  transition: opacity 0.5s;
}
.arrow-btn > li {
  position: relative;
  margin: 0 30px;
}
.arrow-btn > li > a {
  display: block;
  padding: 10px 0;
  opacity: 0.5;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: border-bottom 0.5s;
}
.arrow-btn > li > a:first-child {
  padding-left: 30px;
}
.arrow-btn > li > a:last-child {
  padding-right: 30px;
}
.arrow-btn > li::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background: #fff;
  position: absolute;
  bottom: 0;
  opacity: 0.5;
  transition: opacity 0.5s;
}
.arrow-btn > li:first-child::after {
  transform: rotate(45deg);
  transform-origin: left bottom;
  left: 0;
}
.arrow-btn > li:last-child::after {
  transform: rotate(-45deg);
  transform-origin: right bottom;
  right: 0;
}

.arrow-btn > li:hover::after {
  opacity: 1;
}
.arrow-btn > li > a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  opacity: 1;
}

/*^ 포트폴리오 */
/* 버튼 */
.portfolio-list .btn > span {
  border: 1px solid var(--light);
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 8px;
}

/*^ 인증/수상 */
.award-list img {
  display: block;
}

/* 텍스트 중앙정렬 */
.award-list > li > a {
  display: block;
  text-align: center;
  width: 180px;
}
/* 메달 이미지, 어워드 수상 텍스트 */
.award-list > li > a > span::before {
  content: "KWAA 어워드 수상";
  font-weight: 700;
  font-size: 1.1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150px;
  background: url("../images/main/medal_e.png") no-repeat center;
}

/* footer-top 위치 */

/* footer-bottom 위치 */
.footer-bottom .inner {
  display: flex;
  justify-content: space-between;
}
.foot-link .link {
  display: flex;
}
