* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
.blind {
  display: none;
}

:root {
  --main-color: #c10004;
  --dark: #333333;
  --mid: #666666;
  --light: #999999;
}

header {
  /* background-color: var(--dark); */
}

.gnv > li > a {
  position: relative;
}
.gnv > li > a > span {
  display: block;
  width: 50px;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .gnv > li > a > span; */

.popup-menu > ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.popup-menu > ul .depth1 > a {
  font-weight: 700;
  font-size: 1.5em;
}

/* main */
.banner .inner:first-of-type {
  /* background: url("../images/common/bg_dot.png") var(--main-color); */
}

/* 가로 정렬 */
.banner,
.sevice-list,
.portfolio-list,
.partner-list,
.award-list {
  display: flex;
}
/*^ 포트폴리오 */
/* 버튼 */
.portfolio-list .btn > span {
  border: 1px solid var(--light);
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 8px;
}

/*^ 인증/수상 */
.award-list img {
  display: block;
}

/* 텍스트 중앙정렬 */
.award-list > li > a {
  display: block;
  text-align: center;
  width: 180px;
}
/* 메달 이미지, 어워드 수상 텍스트 */
.award-list > li > a > span::before {
  content: "KWAA 어워드 수상";
  font-weight: 700;
  font-size: 1.1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 150px;
  background: url("../images/main/medal_e.png") no-repeat center;
}
